<div class="fullbody">
  <div class="header">
    <img class="home-logo" src="images/LOGO.svg"></img>
  </div>
  <div class="container">
    <div class="strip-page">
      <p>Connect your repositories by following the below link</p>
      <p>Your code never leaves your computer</p>
      <p>We output lines of code, static analysis, and test information to evaluate your code</p>
      <div class="icons">
        <a href="https://github.com/founderbliss/bliss-cli" target="_blank">
          <img class="icon" src="images/git.svg">
        </a>
      </div>
      <p>Your API key is {{currentUser.api_key}}</p>
    </div>
  </div>
</div>
